<style>
/* ## Forms */
input,
select,
textarea {
  padding: 8px !important;
  margin:10px 0;
  border: 1px solid #fe6419;
}

/* Admin */
.php-error #adminmenuback, .php-error #adminmenuwrap {
    margin-top: 0em;
}

#workout_plans_worksheet_links a,
#workout_plans_bodyareas_links a {
border: 1px solid #fe6419;
padding: 2px 8px;
}

#workout_plans_bodyareas_links {
margin-top: 20px;
}

#workout_plans_bodyareas_links a {
padding: 2px 16px;
}

#worksheet_links a{border: 1px solid #fe6419; padding: 2px 8px;}
.ab-block-accordion .ab-accordion-title{background: white !important;}
.accordion input{padding: 3px 8px;}

/* Responsive tables */
.responsive_table_wrapper{
    overflow-x: auto;
}

.responsive_table_wrapper table {
    width: 1200px;
}

.inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul.accordion{
  margin-left: 0;
}

ul.accordion li{
  list-style-type: none;
}

.inner table{
  margin-bottom: 10px;
}

ul li {
  margin: 0.5em 0;
  list-style-type: none;
}

li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: 0.75em;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}

ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.table-wrapper {
    height: 1000px;
    overflow-x: scroll;
    width: max-content;
}

.table {
  border-collapse: collapse;
  background-color: #ffffff;
  /*width: 100%;*/
  font-size: 12px;
}
.table th {
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #e6e7e8;
  font-size: 14px;
  text-align: left;
}
.table td {
  padding: 10px;
  border-bottom: 1px solid #e6e7e8;
}
.table td.even {
  background-color: #e6e7e8;
}
.table.table-striped tr:nth-child(even) {
  background: #f7f8fa;
}

/* ------------------------------- */

a.button-link {
	padding: 10px 16px;
	border: 1px solid #333;
	border-radius: 3px;
	text-decoration: none;
}

.button {
  padding: 8px 14px !important;
  display: inline-block;
  height: auto;
  font-size: 14px;
}
.button.button-danger {
  background-color: #e73c3c;
  border-color: #cd1919;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.button.button-danger:hover {
  background-color: #df1b1b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.button-warning {
  background-color: #f1c40f;
  border-color: #b8960b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.button.button-warning:hover {
  background-color: #cba50c;
}
.button.button-success {
  background-color: #85c744;
  border-color: #669e2f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.button.button-success:hover {
  background-color: #71ae34;
}
.button.button-primary {
  background-color: #4f8edc;
  border-color: #4f8edc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.button.button-primary:hover {
  background-color: #2d78d5;
}
.button.button-default {
  color: #000000 !important;
}

.enter-weights-btn {
	border: 1px solid #fe6419;
    width: 100%;
    text-align: center;
}

/* ------------------------------ */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 1px;
}
.alert.alert-danger {
  background-color: #fdf2f2;
  border-color: #f29797;
  color: #a81515;
}
.alert.alert-success {
  background-color: #ebf6e1;
  border-color: #b8df92;
  color: #527f26;
}

/* --------------------------------- */

.set-wrapper {
	width: 100%;
}

.set-inner {
    display: inline-block;
    float: left;
    border: 1px solid #fe6419;
    padding: 10px;
    width: 30%;
    min-height: 180px;
    margin: 5px;
	text-align: center;
}

.set-specs div {
	display: inline-block;
    float: left;
}

ul.workout-links li {
    display: inline-block;
    padding: 0 3px;
    margin-bottom: 5px;
}

ul.workout-links a {
border: 1px solid #fe6419;
padding: 2px 8px}

input[type="radio"].disabled + label{
	opacity:0.5;
	background: #f1f1f1;
	color:#a9a9a9;
	border:1px solid #a9a9a9;
}
.set-inner {
    min-height: 280px !important;
}

.play-link {
	width: 100%;
    margin: 5px 0;
}

.btn-clear {
    border: 1px solid #e2e2e2;
    padding: 6px 14px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: block;
}

/*.set-specs div {
    display: inline-block;
    float: left;
    border-right: 1px solid #ccc;
    padding: 3px;
}*/

.set-specs {
	margin-top: 5px;
}
.set-specs div {
    display: inline-block;
    float: left;
    /* border-right: 1px solid #ccc; */
    padding: 6px;
    width: 25%;
}
.set-specs div:last-child {
    border-right: none;
}
.set-specs i {
    display: block;
    font-size: 20px;
}
.set-specs p {
    font-size: 16px;
    margin-bottom: -8px;
    padding-bottom: 0;
    margin-top: 3px;
    margin-top: px;
}
.set-specs span {
	font-size: 10px;
	text-transform: uppercase;
}

.set-specs.notes {
	text-align: left;
}

.edit-link a{
	width:100%;
}

/* --------------------------------- */

#workout_plans_results input,
#workout_plans_results select,
#workout_plans_results textarea {
    padding: 8px 12px;
}

.workout-set-form {
	width: 300px;
	float: right;
}

#selected_workoutplan {
	display: none;
}

#workout_sets,
#workout_plans_worksheet_links,
#workout_plans_bodyareas_message {
	margin-bottom: 20px;
}

.loading-message,
.loading-message i {
	font-size: 14px;
}

.form-message {
	padding-left: 10px;
}

.msg-success {
	color: #83de2b;
}

.wait {
}

.fa-circle-o-notch:before {
    content: "\f1ce";
}
.fa-refresh:before {
    content: "\f021";
}
.fa-gear:before, .fa-cog:before {
    content: "\f013";
}
.fa-youtube-play:before {
    content: "\f16a";
}
.fa-rotate-right:before, .fa-repeat:before {
    content: "\f01e";
}
.fa-sort-amount-asc:before {
    content: "\f160";
}

/* --- Radio button --- */
input.radio-workoutlevel{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
    cursor: pointer;
	margin-left:-13px;
}
input.radio-workoutlevel + label{
	margin-right:5px;
	margin-left:2px;
	margin-bottom:0px;
	border-style: solid;
	border-width: 0px;
	border-radius:3px;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 1rem;
	padding-right: 1.3rem;
	padding-bottom: 1rem;
	padding-left: 1.3rem;
	border:1px solid #fe6419;
	color: #fe6419;
	transition: background-color 100ms ease-out;
}
input.radio-workoutlevel + label:hover,
input.radio-workoutlevel + label:focus {
	background-color: white;
	color: black;
}
input.radio-workoutlevel:checked + label {
    background-color:#fe6419;
	color: white;
}


/* ------ ipad below -- */
/* --- Phones --- */
/* Galaxy A11 */
@media only screen 
and (max-width : 540px) 
and (max-height : 960px)
and (orientation : portrait){
.banner-heading{font-size: 36px;margin-top:40px}
.wp-block-media-text__content{margin-top:20px}
}

</style>
