.lcp-form label {
    display: inline-block;
    width: 150px
}

.lcp-form input,
.lcp-form textarea,
.lcp-form select {
    margin-bottom: 10px
}

.message {
    padding: 2px;
    margin: 10px 0
}

.message p {
    padding: 0;
    margin: 0 0 0 10px
}

.message.message-success {
    border-left: 2px solid #008000
}

.message.message-error {
    border-left: 2px solid #f00
}